<%#
# Item Partial

This partial renders attached items.

Attachments of type image, video and audio are emedded.  For all other types
we try use it's preview.  If all else fails we simply link to the attached file.

This partial will optionally show a `remove` link next to each attachment which is
controlled via a boolean local variable.

## Local variables:

- `field`:
  An instance of [Administrate::Field::Image].
  A wrapper around the image url pulled from the database.
- `attachment`:
  Reference to the file
- `removable`:
  A boolean used to control the display of a `Remove` link which
  is used to destroy a single attachment.  Defaults to `false`
- `size`:
  [x, y]
  Maximum size of the ActiveStorage preview.
%>

<%
  # By default we don't allow attachment removal
  removable = local_assigns.fetch(:removable, false)
%>

<div style="width: <%=size[0]%>px; height: auto; overflow: hidden;">
  <% if attachment.image? and attachment.variable? and field.show_display_preview? %>
    <%= link_to(field.blob_url(attachment), title: attachment.filename) do %>
      <%= image_tag(field.variant(attachment, resize_to_limit: size)) %>
    <% end %>
  <% elsif attachment.image? and field.show_display_preview? %>
    <%= link_to(field.blob_url(attachment), title: attachment.filename) do %>
      <%= image_tag(field.url(attachment)) %>
    <% end %>
  <% elsif attachment.video? and attachment.previewable? and field.show_display_preview? %>
    <%= video_tag(field.url(attachment),
                  poster: field.preview(attachment, resize_to_limit: size),
                  controls: true,
                  autobuffer: true,
                  style: "object-fit: contain; width: 100%; height: 100%;") %>
  <% elsif attachment.video? and field.show_display_preview? %>
    <%= video_tag(field.url(attachment), controls: true, autobuffer: true, style: style) %>
  <% elsif attachment.audio? and field.show_display_preview? %>
    <%= audio_tag(field.url(attachment), autoplay: false, controls: true) %>
  <% else %>
    <%= link_to(field.blob_url(attachment), title: attachment.filename) do %>
      <% if attachment.previewable? and field.show_display_preview? %>
        <%= image_tag(field.preview(attachment, resize_to_limit: size)) %>
      <% else %>
        <%= attachment.filename %>
      <% end %>
    <% end %>
  <% end %>

  <% if removable %>
    <%= link_to 'Remove', field.destroy_path(field, attachment), method: :delete, class: 'remove-attachment-link' %>
    <hr>
  <% end %>
</div>
